!!! 5
%html(lang="en-US")
  %head
    %title "Plannit"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      %div.navbar-inner
        %div.container
          = link_to "Plannit", '#', id: "logo"
          %nav
            %ul.nav.pull-right
              %li
              = link_to "Home", '#'
    %div.container
      = yield

